config.h
config.log
compile
config.status
config.sub
config.guess
install-sh
libtool
ltmain.sh
config.h.in~
config.h.in
Makefile
Makefile.in
configure
configure~
depcomp
aclocal.m4
missing
stamp-h1
autom4te.cache



